<div class="nested-fields form-group">
  <%= f.label :Produto %>
  <%= f.text_field :product, class:"form-group" %>

  <%= f.label :Preço %>
  <%= f.text_field :price, class:"form-group" %>

  <%= link_to_remove_association('Remover', f)%>

</div>
